// text
$primary-font: 'Nunito', Arial, Helvetica, sans-serif;

// colors

$primary: #185277;

$blue: #00A5DF;
$yellow: #FFC600;
$green: #8EDD65;
$orange: #E87722;
$red: #E73C3E;
$purple: #A08BCB;

$gray: rgb(160, 160, 160);