// text
$primary-font: 'Nunito', Arial, Helvetica, sans-serif;

// colors
$primary: #185277;

$blue: #00A5DF;
$yellow: #FFC600;
$green: #8EDD65;
$orange: #E87722;
$red: #E73C3E;
$purple: #A08BCB;
$light-gray-1: #C9C9C9;
$light-gray-2: #D1D1D1;
$light-gray-3: #EFEFEF;
$light-gray-4: #F9F9F9;
$dark-gray-1: #272727;
$dark-gray-2: #757575;