@import url("https://fonts.googleapis.com/css?family=Nunito:400,800");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "variables";
@import "navegacion";
@import "banner";
@import "cards";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    font-family: $primary-font;
    font-weight: 400;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html{
    height: 100%;
}


.container{
    width: 1200px;
    margin: auto;
    justify-content: center;
    margin-top: 10%;


}


    .title-section {
        font-family: $primary-font;
        font-weight: 800;
        margin-bottom: 100px;
    }



    .testimonials-group {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        

        .testimony {



            width: 18%;

            

            .img-rounded {
                border-radius: 150px;
                background-color: $orange;
                
            }

            p{
                height: 20px;
                overflow: hidden;
                transition:  height 2s;
                transition-timing-function: ease;
                background-color: $red;
            }

            &:hover{
                p{
                    height: 400px;
           
                }
            }

        }
    }
