$grayColor: rgb(160, 160, 160);
$lightGrayColor: rgb(230, 230, 230);

@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    font-family: $primary-font;
    font-weight: 400;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html{
    height: 100%;
}


.nav{ 
        
    width: 100;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    position: sticky;
    z-index: 999;
    
    
    
    &__header{
        
        background: #ffffff;
        width: 100%;
        
        height: 70px;
        min-height: 70px;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        position: fixed;
        
        -webkit-box-shadow: 0px 10px 9px -10px rgba(0,0,0,0.12);
        -moz-box-shadow: 0px 10px 9px -10px rgba(0,0,0,0.12);
        box-shadow: 0px 10px 9px -10px rgba(0,0,0,0.12);
        
        &__container{
            
            width: auto;
            height: 100%;
            
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;        
            
            &__logo{
                width: auto;
                margin-left: 25px;
                
                figure{
                    width: auto;
                }
            }
            
            &__links{
                
                margin-left: 15px;
                width: auto;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                
                li{
                    
                    margin-top: 5px;
                    
                    margin-right: 15px;
                    list-style: none; 
                    
                    a{
                        
                        color: $grayColor;
                        text-decoration: none;
                    }
                }
                /*
                &:hover{
                    background: white; 
                    text-decoration: underline;
                }
                */
            }
            
        }
        
        &__contact{
            
            margin-right: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-content: center;
            align-items: center;
            
            li{margin-left: 15px;
                text-decoration: none;
                list-style: none; 
                a{color: $grayColor; text-decoration: none;}
                
                button{
                    background: none;
                    border-radius: 42px;
                    text-decoration: none;
                    padding: 8px 18px;
                    border: 1px solid rgb(175, 182, 187);
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size: 14px;
                    color: rgb(175, 182, 187);
                }
                
                button:hover{
                    background: #0af;
                    border-radius: 42px;
                    border: 1px;
                    text-decoration: none;
                    color: #fff;
                    padding: 8px 18px;
                }
                
                button:active{
                    background: rgb(2, 83, 175);
                    border-radius: 42px;
                    border: 1px;
                    text-decoration: none;
                    padding: 8px 18px;
                    color: #fff;}
                    
                    
                }
                
                &:hover{
                    background: white; text-decoration: underline;
                }
                
            }
            
            &__toggle{
                width: auto;
                margin-right: 25px;
                background: white;
                text-align: right;
                box-sizing: border-box;
                color: black;
                font-size: 30px;
                display: none;
            }
        }
        
        &__column{
            display: none;
            width: 100%;
            height: auto;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            
            li{
                
                list-style: none;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                width: 100%;
                padding: 12px 0;
                
                a{
                    text-decoration: none;
                    
                    color: gray;
                }
            }
            
            .button{
                border: none;
            }
        }
    }

    @media(max-width:860px){
                            
        .nav{
            
            &__header{
                
                
                
                &__toggle{
                    display: flex;
                }
                
                
                
                &__container{
                    
                    &__links{
                        display: none;
                    }
                }
                
                &__contact{
                    display: none;
                }
                
            }
            
            &__column{
                display: none;
            }
            
            .active{
                display: flex;
            }
        }
    }